/* Basic Setup */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", poppins, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
/* Hero Section Setup */
.page1 {
  height: 600px;
  width: 100%;
  background-image: url(/img/pool.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}
.overlay {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation-name: overlay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.hero-heading {
  color: rgb(255, 255, 255);
  font-size: 4.5em;
  font-weight: 300;
  margin: 30px 0px;
  letter-spacing: -2.6px;
}
.text {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.btn {
  border-bottom-width: 2px;
  border-color: rgb(255, 255, 255);
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: #000000;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
}


.page2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: whitesmoke;
	padding: 70px;
}
.profile{
	width: 475px;
	border-radius: 35px;
}
.abt-heading{
	color: rgb(255, 255, 255);
	font-size: 4em;
	font-weight: 300;
	margin: 30px 0px;
	letter-spacing: -2.6px;
  }



/* Mobile Screen */
@media only screen and (max-width: 700px) {
  .hero-heading {
  font-size: 4em;
  letter-spacing: -0.5px;
  }

  .page2{
	flex-direction: column;
}
}

/* Animation  */
@keyframes overlay {
  from {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.21);
  }
  to {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.568);
  }
}
